#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
.grid-container {
    display: grid;
    grid-template-rows: 100px auto 50px;
    grid-template-columns: 200px 1fr;
    gap: 10px;
    background: rgba(128, 128, 128, 0.2);
}
.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-self: center;
}
.item-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background: rgba(128, 128, 128, 0.2);
}
.item-3 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.item-4 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    align-self: center;
    font-size: 14px;
}

#canvas-wrapper,
#canvas-wrapper div {
    width: 800px;
    height: 480px;
    margin: 0 auto;
}
